<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="CloudServiceBinding">
          <mtomMessageEncoding messageVersion="Soap12" />
          <httpsTransport />
        </binding>
      </customBinding>
    </bindings>

    <client>
      <endpoint address="https://edefterws.fitbulut.com:443/ELedgerCloudService/ELedgerCloud"
        binding="customBinding" bindingConfiguration="CloudServiceBinding"
        contract="ServiceRef.ELedgerCloudService" name="ELedgerCloudService" />
    </client>
  </system.serviceModel>
</configuration>